html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    background: #ffffff;
}

div {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#all {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* background-color: black; */
}

nav {
    background-color: #ffffff;
    width: 100%;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-wrapper {
    height: 60px;
    padding: 6px;
}

#nav-left {
    flex-grow: 0;
    /* background-color: cornsilk; */
}

#nav-left a {
    padding: 5px;
    color: #222222;
}

#nav-right {
    flex-grow: 1;
    /* background-color: cornflowerblue; */
    justify-content: flex-end;
}

.right-nav {
    color: #000000DE;
    font-size: 13px;
}

#images {
    padding: 0px 15px;
}

#apps-icon {
    color: #5f6368;
    padding: 8px;
}

#sign-in {
    color: #ffffff;
    padding: 9px 23px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0px 8px;
    background-color: #1a73e8;
}

#logo-wrapper {
    height: calc(100% - 560px);
    width: auto;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/* #logo {
    display: block;
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: 100px;
    background-color: crimson;
}

#logo img {
    display: block;
    width: auto;
    object-position: center bottom;
    margin-top: auto;
} */

#search-and-buttons {
    padding: 20px;
    /* background-color: darkolivegreen; */
    width: 100%;
}

#search-wrapper {
    width: 100%;
    max-width: 584px;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    align-items: center;
    /* background-color: darkmagenta; */
}

#search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    padding: 0px 8px 0px 14px;
}

#search-box {
    flex-grow: 1;
    /* background-color: darkturquoise; */
}

#search-input {
    border: none;
    height: 34px;
    width: 100%;
}

#mic-icon {
    padding: 0 8px;
    color: #9aa0a6;
}

#buttons {
    padding-top: 18px;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    cursor: pointer;
}

footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-and-buttons {
    padding: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: space-evenly;
}

#footer-wrapper {
    flex-wrap: wrap;
    padding: 0 20px;
}

footer a {
    color: #70757a;
    padding: 15px;
}

#footer-top {
    width: 100%;
    justify-content: center;
}

#footer-bottom-left {
    justify-content: flex-start;
}

#footer-bottom-right {
    justify-content: flex-end;
}